@import '../../.cache/wal/colors-waybar.css';
*
{
    padding: 2px;
    font-family: azuki_font ,SymbolsNerdFont;
    font-size: 20px;
    color: @color0;
    font-weight:bolder;
    border-radius: 10px;
    min-height: 20px;
}
window#waybar
{
    background-color: @forgbackground;
}
#custom-musicfetch
{       
        background-position: 45%;
        border-style: solid;
        border-width: 5px;
        border-color: @color1;
        padding:0 8px;
        background-color: @color6;
}
.modules-right
{ 
    border-style: solid;
    border-width: 5px;
    border-color: @color1;
    background-color: @color3;
}
#clock,
#cpu,
#pulseaudio,
#battery,
#tray
{
    padding: 0px 8px;
}
#workspaces
{    
    border-style: solid;
    border-width: 5px;
    border-color: @color1;
    background-color: @color3;
    padding: 0px;
}
#workspaces button.active
{
    border-radius: 0;
    background-color: @color6;
}
#battery.charging
{
    border-radius: 0;
    background-color: #abce41;
}
