@import '../../.cache/wal/colors-waybar.css';
*
{
    padding: 2px;
    font-family: azuki_font ,SymbolsNerdFont;
    font-size: 20px;
    font-weight:bolder;
    border-radius: 10px;
    transition: 120ms ease-in;
    min-height: 20px;
}
window#waybar
{
    background: transparent;
}
#custom-musicfetch
{       
        background: alpha(@background, .70);
        background-position: 45%;
        border-style: solid;
        border-width: 5px;
        border-color: @color1;
        padding:0 8px;
}

.modules-right
{ 
    border-style: solid;
    border-width: 5px;
    border-color: @color1;
}
#cpu,
#pulseaudio,
#battery,
#tray,
#clock,
#custom-swaync
{
    padding: 0px 8px;
}


#workspaces
{    
    border-style: solid;
    border-width: 5px;
    border-color: @color1;
    padding: 0px;
}
.modules-left, .modules-right 
{
    background: alpha(@background, .70);
}
widget > *:hover:not(#workspaces):not(#tray):not(#battery){
    background: @color1;
}
#battery.bat2:hover{
    background: @color1;
}
button:hover {
    background: @color1;
}
#workspaces button.active
{
    border-radius: 0;
    background: @color1;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
